# 数据透视表

In [ ]:
import pandas as pd

In [ ]:
example = pd.DataFrame({'Month': ["January", "January", "January", "January", 
                                  "February", "February", "February", "February", 
                                  "March", "March", "March", "March"],
                   'Category': ["Transportation", "Grocery", "Household", "Entertainment",
                                "Transportation", "Grocery", "Household", "Entertainment",
                                "Transportation", "Grocery", "Household", "Entertainment"],
                   'Amount': [74., 235., 175., 100., 115., 240., 225., 125., 90., 260., 200., 120.]})

In [ ]:
example

In [ ]:
example_pivot = example.pivot(index = 'Category',columns= 'Month',values = 'Amount')
example_pivot

In [ ]:
example_pivot.sum(axis = 1)

In [ ]:
example_pivot.sum(axis = 0)

In [ ]:
df = pd.read_csv('./data/titanic.csv')

In [ ]:
df.head()

In [ ]:
df.pivot_table(index = 'Sex',columns='Pclass',values='Fare')

pivot_table默认是求平均值

In [ ]:
df.pivot_table(index = 'Sex',columns='Pclass',values='Fare',aggfunc='max')

In [ ]:
df.pivot_table(index = 'Sex',columns='Pclass',values='Fare',aggfunc='count')

In [ ]:
# 另一个方法做统计
pd.crosstab(index = df['Sex'],columns = df['Pclass'])

In [ ]:
# 按照船舱等级，男女分别的平均获救率
df.pivot_table(index = 'Pclass',columns='Sex',values='Survived',aggfunc='mean')

In [ ]:
# 未成年人
df['Underaged'] = df['Age'] <= 18
df.pivot_table(index = 'Underaged',columns='Sex',values='Survived',aggfunc='mean')