# 对象操作

In [1]:
import pandas as pd

# Series结构的增删改查

In [3]:
# 创建1个Series结构
data = [10,11,12]
index = ['a','b','c']
s = pd.Series(data = data,index = index)
s

a    10
b    11
c    12
dtype: int64

## 查询操作

In [6]:
# 索引
s[0]

10

In [11]:
# 切片
s[1:3]

b    11
c    12
dtype: int64

In [9]:
# bool
mask = [True,False,True]
s[mask]

a    10
c    12
dtype: int64

In [13]:
s.loc['b']

11

In [15]:
s.iloc[1]

11

## 修改操作

In [43]:
s1 = s.copy()
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [44]:
s1.replace(to_replace = 100,value = 101,inplace = False)

a    101
b     11
c     12
dtype: int64

In [45]:
s1

a    100
b     11
c     12
dtype: int64

In [46]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [47]:
s1.index = ['x','y','z']
s1

x    100
y     11
z     12
dtype: int64

In [48]:
s1.rename(index = {'y':'Y'},inplace = True)
s1

x    100
Y     11
z     12
dtype: int64

## 增加操作

In [49]:
data = [100,110]
index = ['h','k']
s2 = pd.Series(data = data,index = index)
s2

h    100
k    110
dtype: int64

In [50]:
s3 = s1.append(s2)
s3

x    100
Y     11
z     12
h    100
k    110
dtype: int64

In [51]:
s3['j'] = 500
s3

x    100
Y     11
z     12
h    100
k    110
j    500
dtype: int64

In [52]:
s1.append(s2,ignore_index = False)

x    100
Y     11
z     12
h    100
k    110
dtype: int64

## 删除操作

In [54]:
s1

x    100
Y     11
z     12
dtype: int64

In [55]:
del s1['Y']
s1

x    100
z     12
dtype: int64

In [56]:
s1.drop(['x','z'],inplace = True)
s1

Series([], dtype: int64)

# DataFrame结构的增删改查

In [57]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A','B','C']

df = pd.DataFrame(data=data,index=index,columns = columns)
df

   A  B  C
a  1  2  3
b  4  5  6

## 查询操作

In [58]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [61]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [62]:
df.loc['a']

A    1
B    2
C    3
Name: a, dtype: int64

## 修改操作

In [63]:
df.loc['a']['A']

1

In [64]:
df.loc['a']['A'] = 150
df

     A  B  C
a  150  2  3
b    4  5  6

In [65]:
df.index = ['f','g']
df

     A  B  C
f  150  2  3
g    4  5  6

## 增加操作

In [66]:
df.loc['c'] = [1,2,3]
df

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3

In [67]:
data = [[1,2,3],[4,5,6]]
index = ['j','k']
columns = ['A','B','C']

df2 = pd.DataFrame(data=data,index=index,columns = columns)
df2

   A  B  C
j  1  2  3
k  4  5  6

In [68]:
df3 = pd.concat([df,df2],axis = 0)
df3

     A  B  C
f  150  2  3
g    4  5  6
c    1  2  3
j    1  2  3
k    4  5  6

In [69]:
df2['D'] = [10,11]
df2

   A  B  C   D
j  1  2  3  10
k  4  5  6  11

In [71]:
df4 = pd.DataFrame([[10,11],[12,13]],index=['j','k'],columns=['E','F'])
df4

    E   F
j  10  11
k  12  13

In [72]:
df5 = pd.concat([df2,df4],axis = 1)
df5

   A  B  C   D   E   F
j  1  2  3  10  10  11
k  4  5  6  11  12  13

## 删除操作

In [73]:
df5.drop(['j'],axis=0,inplace = True)
df5

   A  B  C   D   E   F
k  4  5  6  11  12  13

In [74]:
del df5['D']
df5

   A  B  C   E   F
k  4  5  6  12  13

In [75]:
df5.drop(['A','B','C'],axis = 1,inplace = True)
df5

    E   F
k  12  13